{% block body %}

<table>
	<tbody>
		<tr>
			<td>Nom du bien</td>
			<td><a href="{{ url('property_show', {id: contact.property.id, slug: contact.property.slug})}}">{{contact.property.title}}</a></td>
		</tr>
		<tr>
			<td>Prénom</td>
			<td>{{contact.lastname}}</td>
		</tr>
		<tr>
			<td>Nom</td>
			<td>{{contact.firstname}}</td>
		</tr>
		<tr>
			<td>Téléphone</td>
			<td>{{contact.phone}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{contact.mail}}</td>
		</tr>
		<tr>
			<td>Message</td>
			<td>{{contact.message | nl2br}}</td>
		</tr>
	</tbody>
</table>

{% endblock %}

